/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vmin 2vmin;
    width: 100%;
    max-width: var(--max-site-width);
    margin: 0 auto;
}

.gh-foot .gh-container {
    width: auto;
}

.gh-foot a {
    color: inherit;
}

.gh-foot-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-foot-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.5rem;
}

.gh-foot-menu .nav li {
    margin: 0 1.5rem;
    padding: 0;
}

.gh-foot-menu .nav a {
    display: inline-block;
    padding: 3px 0;
    text-decoration: none;
    opacity: 0.75;
}

.gh-foot-menu .nav a:hover {
    opacity: 1;
}

.gh-foot-meta {
    margin: 2rem 0;
    font-size: 1.25rem;
    text-align: center;
    opacity: 0.65;
}

@media (max-width: 700px) {
    .gh-foot-menu .nav {
        font-size: 1.6rem;
    }
}
